body{
    display: grid;
    align-items: center;
    justify-items: center;
}
.container{
    width: 400px;
    height: 400px;

}
#grid{
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;

}
/*size of square needs to adjust based on number to fit within container*/
.square{
    border: solid .5px black;
    width: 100%;
    height: auto;
    padding-bottom: 100%;

}

.black{
    background-color: black;
}

#reset{
    margin-top: 100px;
    margin-bottom: -30px;
}